<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Hospital Referral Management System</title>
		

		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		
		{% load staticfiles %}
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="{% static "assets/css/bootstrap.min.css" %}" />
		<link rel="stylesheet" href="{% static "assets/font-awesome/4.5.0/css/font-awesome.min.css" %}" />
		
		<!-- page specific plugin styles -->
		
		<!-- text fonts -->
		<link rel="stylesheet" href="{% static "assets/css/fonts.googleapis.com.css" %}" />
		
		<!-- ace styles -->
		<link rel="stylesheet" href="{% static "assets/css/ace.min.css"%}" class="ace-main-stylesheet" id="main-ace-style" />
		
		<!-- page specific plugin styles -->
		<link rel="stylesheet" href="{% static "assets/css/jquery-ui.custom.min.css" %}" />
		<link rel="stylesheet" href="{% static "assets/css/chosen.min.css" %}" />
		
		<!-- page specific plugin styles -->
		<link rel="stylesheet" type="text/css" href="{% static "assets/DataTables/datatables.min.css" %}"/>
		<link rel="stylesheet" href="{% static "assets/css/custom.css" %}" />
		
		
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="{% static "assets/css/ace-skins.min.css" %}" />
		<link rel="stylesheet" href="{% static "assets/css/ace-rtl.min.css" %}" />
		
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->
		
		<!-- inline styles related to this page -->
		
		<!-- ace settings handler -->
		<script src="{% static "assets/js/ace-extra.min.js"%}"></script>
		
		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
		
		<!--[if lte IE 8]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	</head>
	
	<body class="no-skin">
		<div id="navbar" class="navbar navbar-default ace-save-state navbar-fixed-top">
			<div class="navbar-container ace-save-state" id="navbar-container">
				<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
					<span class="sr-only">Toggle sidebar</span>
					
					<span class="icon-bar"></span>
					
					<span class="icon-bar"></span>
					
					<span class="icon-bar"></span>
				</button>
				
				<div class="navbar-header pull-left">
					<a href="http://127.0.0.1:8000/" class="navbar-brand">
						<small>
							<i class="fa fa-asterisk"></i>
							Hospital Referral Management System
						</small>
					</a>
				</div>
				
				<div class="navbar-buttons navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">
						
						<li class="light-blue dropdown-modal">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<img class="nav-user-photo" src="{% static "assets/images/avatars/user.jpg" %}" alt="Jason's Photo" />
								<span class="user-info">
									<small>Welcome,</small>
									Doctor
								</span>
								
								<i class="ace-icon fa fa-caret-down"></i>
							</a>
							
							<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="http://127.0.0.1:8000/doctor/settings/">
										<i class="ace-icon fa fa-cog"></i>
										Settings
									</a>
								</li>
								
								<li>
									<a href="profile.php">
										<i class="ace-icon fa fa-user"></i>
										Profile
									</a>
								</li>

								<li>
									{% if hos1_connected.availablity == True %}
									<a href="http://127.0.0.1:8000/doctor/change_availability/">
									<button type="button" class="btn btn-success btn-sm"><strong>Available</strong><br><small><i>press to change</i></small></button>
									</a>
									{% else %}
									<a href="http://127.0.0.1:8000/doctor/change_availability/">
									<button type="button" class="btn btn-danger btn-sm"><strong>Not Available</strong><br><small><i>press to change</i></small></button>
									</a>
									{% endif %}
									
								</li>
								
								<li class="divider"></li>
								
								<li>
									<a href="http://127.0.0.1:8000/login/logout/">
										<i class="ace-icon fa fa-power-off"></i>
										Logout
									</a>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div><!-- /.navbar-container -->
		</div>
		
		<div class="main-container ace-save-state container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>
			
			<div id="sidebar" class="sidebar responsive ace-save-state sidebar-fixed sidebar-scroll">
				<script type="text/javascript">
					try{ace.settings.loadState('sidebar')}catch(e){}
				</script>
				
				<ul class="nav nav-list">
					
					<li class="">
						<a href="http://127.0.0.1:8000/doctor/index/">
							<i class="menu-icon fa fa-tachometer"></i>
							<span class="menu-text"> Make Referral </span>
						</a>
						
						<b class="arrow"></b>
					</li>
					
					<li class="active open">
						<a href="http://127.0.0.1:8000/doctor/our_referrals/">
							<i class="menu-icon fa fa-book"></i>
							<span class="menu-text"> ready to review </span>
						</a>
						
						<b class="arrow"></b>
					</li>
					
					<li class="">
						<a href="http://127.0.0.1:8000/doctor/settings/">
							<i class="menu-icon fa fa-cog"></i>
							<span class="menu-text"> Settings </span>
						</a>
						
						<b class="arrow"></b>
					</li>
					
					<li class="#">
						<a href="http://127.0.0.1:8000/login/logout/">
							<i class="menu-icon fa fa-sign-out"></i>
							<span class="menu-text"> Log Out</span>
						</a>
						
						<b class="arrow"></b>
					</li>
					
				</ul><!-- /.nav-list -->
				
				<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
					<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
				</div>
			</div>
			
			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state breadcrumbs-fixed" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="#">Home</a>
							</li>
							
							<li class="active">Hospital Referrals</li>
						</ul><!-- /.breadcrumb -->
						
					</div>
					
					<div class="page-content">
						<div class="page-header">
							<h1>
								Hospital Referrals
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									These are the referals assigned to that hospital.
								</small>
							</h1>
						</div>
						
						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								
								
								
								
								
								
								
								
								
								
								
								
								<div class="row">
									<div class="col-xs-12">
										
										<div class="table-header">
											Results for "All Referrals"
										</div>
										
										<!-- div.table-responsive -->
										
										<!-- div.dataTables_borderWrap -->
										<div>
											<div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
												
												
												<table  id="table_id" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dynamic-table_info">
													
													<thead>
														<tr role="row">
															<th class="center sorting_disabled" style="width: 10%;" > No.</th>
															<th class="sorting_disabled" style="width: 30%;" >Patient's Name</th>
															<!--<th class="sorting_disabled" style="width: 30%;" >From?</th> -->
															<th class="sorting_disabled" style="width: 10%;" >Status</th>
															<th class="sorting_disabled" style="width: 50%;" >Action</th>
														</tr>
													</thead>
													
													<tbody>
														<!--for loop to create table-->
														{% if for_display is not none %}
														{% for ref in for_display %}
														<tr role="row">
															<td class="center">{{ forloop.counter}} </td>
															<td> <a href="#">{{ ref.madeReferral.patient_name }}</a> </td>
															
															<!--<td></td> -->

															<td> 
																<span class='label label-warning'>
																	<i class='ace-icon fa fa-folder-open bigger-120'></i>
																	Still Pending
																</span>
															</td>
															<td> 
																<a href="#">
																	<!--<i class="ace-icon fa fa-info-circle bigger-125"></i>
																	View Report -->
																	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong{{forloop.counter}}">
																  view report
																</button>
																</a>
																<!-- Button trigger modal -->
																

																<!-- Modal -->
																<div class="modal fade" id="exampleModalLong{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
																  <div class="modal-dialog" role="document">
																    <div class="modal-content">
																      <div class="modal-header">
																        <h5 class="modal-title" id="exampleModalLongTitle">DETAILED REPORT for {{ ref.madeReferral.patient_name }} </h5>
																        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																          <span aria-hidden="true">&times;</span>
																        </button>
																      </div>
																      <div class="modal-body">
																        <p><div style="font-weight: bold; text-decoration: underline;">patient name:</div><div>{{ ref.madeReferral.patient_name }}</div></p>
																        <p><div style="font-weight: bold; text-decoration: underline;">email:</div><div>{{ref.madeReferral.email}}</div></p>
																        <p><div style="font-weight: bold; text-decoration: underline;">phone number:</div><div> {{ref.madeReferral.phone_number}}</div></p>
																        <p><div style="font-weight: bold; text-decoration: underline;">Referral code:</div><div> {{ref.madeReferral.generated_code}}</div></p>
																        <p><div style="font-weight: bold; text-decoration: underline;">Doctor referring Patient</div> <div>Dr. {{ref.madeReferral.user.first_name }}<br>Email: {{ref.madeReferral.user.email }}</div></p>
																        <p style="font-weight: bold; text-decoration: underline;">DETAILS</p>
																        {{ref.madeReferral.findings}}
																      </div>
																      <div class="modal-footer">
																        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
																        <a href="http://127.0.0.1:8000/doctor/{{ ref.id }}">
																        <button type="button" class="btn btn-success">accept</button>
																        </a>
																        <a href="http://127.0.0.1:8000/doctor/reTransfer/{{ ref.id }}">
																        <button type="button" class="btn btn-primary">Retransfer</button>
																        </a>
																      </div>
																    </div>
																  </div>
																</div>




																<a href="http://127.0.0.1:8000/doctor/{{ ref.id }}" class="btn btn-xs btn-primary">
																	<i class="ace-icon fa fa-info-circle bigger-125"></i>
																	accept 
																</a>

																<a href="http://127.0.0.1:8000/doctor/reTransfer/{{ ref.id }}" class="btn btn-xs btn-primary">
																	<i class="ace-icon fa fa-info-circle bigger-125"></i>
																	Retransfer
																</a>
															</td>
															
																
														
														</tr>
														{% endfor %}
														{% else %}
														<p>all the patients were referred</p>

														{% endif %}
														<!--
														<tr role="row">
															<td class="center"> 1 </td>
															<td> <a href="#">Kakoza Fransis</a> </td>
															<td>Seeta Hospital</td>
															<td> 
																<span class='label label-warning'>
																	<i class='ace-icon fa fa-folder-open bigger-120'></i>
																	Still Pending
																</span>
															</td>
															<td> 
																<a href="#" class="btn btn-xs btn-primary">
																	<i class="ace-icon fa fa-info-circle bigger-125"></i>
																	View Report
																</a>
															</td>
														</tr>
														-->

													</tbody>
													
												</table>
												
											</div>
											
										</div>
										
									</div>
									
								</div>
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								
								<!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->
						
					</div><!-- /.page-content -->
					
				</div>
				
			</div><!-- /.main-content -->
			
			<div class="footer">
				<div class="footer-inner">
					<div class="footer-content">
						
						<span class="bigger-120">
							<span class="blue bolder">Hospital Referral Management System</span>
							Application &copy; 2019
						</span>
						
					</div>
				</div>
			</div>
			
			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->
		
		<!-- basic scripts -->
		
		<!--[if !IE]> -->
		<script src="{% static "assets/js/jquery-2.1.4.min.js" %}"></script>
		
		<!-- <![endif]-->
		
		<!--[if IE]>
			<script src="assets/js/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		
		
		<!-- page specific plugin scripts -->
		<script type="text/javascript" src="{% static "assets/DataTables/datatables.min.js" %}"></script>
		
		
		
		
		
		
		<script src="{% static "assets/js/jquery-ui.custom.min.js" %}"></script>
		<script src="{% static "assets/js/jquery.ui.touch-punch.min.js" %}"></script>
		<script src="{% static "assets/js/chosen.jquery.min.js" %"></script>
		
		
		
		<!-- ace scripts -->
		<script src="{% static "assets/js/ace-elements.min.js" %}"></script>
		<script src="{% static "assets/js/ace.min.js" %}"></script>
		<script src="{% static "assets/js/custom.js" %}"></script>
		<script src="{% static "assets/plugins/jQuery.print.js"%}"></script>
		
		<!-- 
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		-->
		
		
		
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			
			jQuery(function($) {
				
				$(document).ready( function () {
					$('#table_id').DataTable();
				} );
				
			})
			
		</script>
		
		
		
		
		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($) {
				$('#id-disable-check').on('click', function() {
					var inp = $('#form-input-readonly').get(0);
					if(inp.hasAttribute('disabled')) {
						inp.setAttribute('readonly' , 'true');
						inp.removeAttribute('disabled');
						inp.value="This text field is readonly!";
					}
					else {
						inp.setAttribute('disabled' , 'disabled');
						inp.removeAttribute('readonly');
						inp.value="This text field is disabled!";
					}
				});
				
				
				if(!ace.vars['touch']) {
					$('.chosen-select').chosen({allow_single_deselect:true}); 
					//resize the chosen on window resize
					
					$(window)
					.off('resize.chosen')
					.on('resize.chosen', function() {
						$('.chosen-select').each(function() {
							var $this = $(this);
							$this.next().css({'width': $this.parent().width()});
						})
					}).trigger('resize.chosen');
					//resize chosen on sidebar collapse/expand
					$(document).on('settings.ace.chosen', function(e, event_name, event_val) {
						if(event_name != 'sidebar_collapsed') return;
						$('.chosen-select').each(function() {
							var $this = $(this);
							$this.next().css({'width': $this.parent().width()});
						})
					});
					
					
					$('#chosen-multiple-style .btn').on('click', function(e){
						var target = $(this).find('input[type=radio]');
						var which = parseInt(target.val());
						if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
						else $('#form-field-select-4').removeClass('tag-input-style');
					});
				}
				
				
				$('[data-rel=tooltip]').tooltip({container:'body'});
				$('[data-rel=popover]').popover({container:'body'});
				
				autosize($('textarea[class*=autosize]'));
				
				$('textarea.limited').inputlimiter({
					remText: '%n character%s remaining...',
					limitText: 'max allowed : %n.'
				});
				
				$.mask.definitions['~']='[+-]';
				$('.input-mask-date').mask('99/99/9999');
				$('.input-mask-phone').mask('(999) 999-9999');
				$('.input-mask-eyescript').mask('~9.99 ~9.99 999');
				$(".input-mask-product").mask("a*-999-a999",{placeholder:" ",completed:function(){alert("You typed the following: "+this.val());}});
				
				
				
				$( "#input-size-slider" ).css('width','200px').slider({
					value:1,
					range: "min",
					min: 1,
					max: 8,
					step: 1,
					slide: function( event, ui ) {
						var sizing = ['', 'input-sm', 'input-lg', 'input-mini', 'input-small', 'input-medium', 'input-large', 'input-xlarge', 'input-xxlarge'];
						var val = parseInt(ui.value);
						$('#form-field-4').attr('class', sizing[val]).attr('placeholder', '.'+sizing[val]);
					}
				});
				
				$( "#input-span-slider" ).slider({
					value:1,
					range: "min",
					min: 1,
					max: 12,
					step: 1,
					slide: function( event, ui ) {
						var val = parseInt(ui.value);
						$('#form-field-5').attr('class', 'col-xs-'+val).val('.col-xs-'+val);
					}
				});
				
				
				
				
				
			});
			
		</script>
		
	</body>
	
</html>										